<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!--<add key="SaveDeiviceInfo" value="http://tpfloxi-001-site96.atempurl.com/SaveDeiviceInfo" />
    <add key="SaveUserInfo" value="http://tpfloxi-001-site96.atempurl.com/SaveUserInfo" />-->
    <add key="SaveDeiviceInfo" value=" https://acn.acer.co.in/AcerWarrantyAPI/SaveDeiviceInfo"/>
    <add key="SaveUserInfo" value=" https://acn.acer.co.in/AcerWarrantyAPI/SaveUserInfo"/>
    <add key="PinCodeValidate" value="http://www.postalpincode.in/api/pincode"/>
    <add key="Version" value="v2.0.7"/>
    <add key="SMSServiceProvider" value="BRgwyO+9Ibg-UiTHiwsh0ZAPE9zjzT2S3o5GgqR0gk"/>
    <add key="URL" value="http://api.textlocal.in/send/"/>
    <add key="Sender" value="ACEROT"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
